body {
  margin: 0;
  font-family: sans-serif;
}
h1 {
  padding: 0;
  margin: 0;
}

.grid {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto auto;
  grid-template-columns: auto;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "sidebar"
    "footer";
}
header {
  background-color: lightskyblue;
  padding: 20px;
  grid-area: header;
}

main {
  background-color: lightcyan;
  padding: 20px;
  grid-area: main;
}

footer {
  background-color: lightblue;
  padding: 20px;
  grid-area: footer;
}

nav {
  grid-area: nav;
  padding: 20px;
  background-color: palevioletred;
}

.sidebar {
  grid-area: sidebar;
  padding: 20px;
  background-color: palevioletred;
}

@media only screen and (min-width: 800px) {
  .grid {
    grid-template-columns: 200px auto 200px;
    grid-template-areas:
      "header header header"
      "nav main sidebar"
      "footer footer footer";
  }

  main {
    min-height: 70vh;
  }

  nav,
  .sidebar {
    max-width: 200px;
  }
}
